.input{
    height: 30px;
    /* margin-left: 30px; */
    font-size: 19px;
    margin-top: 20px;
    position: relative;
    /* right: 20px; */
    text-align: center;
    /* border-radius: 0px 0px 0px 0px; */
    font-family: 'Rubik', sans-serif;

}
.addsubnote-button{
    position: relative;
    top:8px;
    margin-left: 5px;
}