.App {
  text-align: center;
}
.notes-main-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  column-gap:100px;
  row-gap: 50px;;
  margin-top: 50px;
  position: relative;
   top:100px;
   align-items: center;
   justify-content: center;
   width: fit-content;
   margin-left: 100px;

}
@media screen and (max-width: 564px) {
  .notes-main-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:100px;
    row-gap: 50px;;
    margin-top: 50px;
    position: relative;
     top:100px;
     align-items: center;
     justify-content: center;
     width: fit-content;
     margin-left: 10px;
  
  }
  @media screen and (max-width: 482px) {
    .notes-main-container{
      display:grid;
      grid-template-columns: repeat(1,1fr);
      column-gap:100px;
      row-gap: 50px;;
      margin-top: 50px;
      position: relative;
       top:100px;
       align-items: center;
       justify-content: center;
       width: fit-content;
       margin-left: 40px;
    
    }
  
  
  }


}
