.notescard-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width:310px;
    color: white;
    background-color: black;
    align-items: center;
   border-radius: 20px;
   box-shadow: 5px 5px 5px 5px rgb(40, 28, 101);
}
.heading{
    text-align: center;
    width: 100%;
    background-color: rgb(16, 16, 126);
    text-shadow: 2px 2px 5px red;
    font-family: 'Rubik', sans-serif;

    
}
.check-icon{
    float: right;
    position: relative;
    bottom: 50px;
    right: 19px;
   
    
}
.sublist{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;

    
}
.dustbin-icon{
    position: relative;
    float: right;
    top:10px
}
.list-wall{
    width: 250px;
    left:20px;
    height: 20px;
    text-shadow: 2px 2px 5px red;
    font-family: 'Rubik', sans-serif;
    
}
